div {
  display: inline;
}

.title {
  background: black;
  color: white;
  text-align: center;
  font-size: 80px;
}

.instructions-title {
  font-size: 50px;
}

.instructions {
  text-align: center;
  font-size: 30px;
  width: 38%;
  margin: auto;
  line-height: 50px;
}

/* POSITIONS ALL TILES IN CENTER */
#battleshipContainer {
   display: flex;
  justify-content: center;
  justify-content: space-evenly;
  justify-self: center;
}

/* CREATES EACH TILE IN SQUARE SHAPE FOR "OCEAN" */
.tiles {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: black;
  color: rgba(255, 255, 255, 0);
}

/* CREATE THE SQUARE SHAPE FOR EACH TILE OF SHIPS */

.tilesHit {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: black;
  color: rgba(255, 255, 255, 0);
}

.scoreboard {
  margin-top: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.divider {
  /* padding-right: 60px;
  margin-right: 60px; */
  border-right: solid black 3px;
}
